@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #fff;
  font-family: sans-serif;
}

.wrapper {
  color: #fff;
  width: 500px;
  padding: 25px;
  margin: 25px auto 0;
  box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.5);
}

.wrapper  h2 {
  background: #fcfcfc;
  color: #7ed321;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px dotted #333;
}
h4 {
  padding-bottom: 5px;
  color: #7ed321;
}
.input-group {
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}
.input-box {
  margin-right: 12px;
  width: 100%;
  position: relative;
}
.input-box:last-child {
  margin-right: 0;
}

.name {
  padding: 14px 10px 14px 50px;
  width: 100%;
  background-color: #fafafc;
  border: 1px #000033;
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 3px;
  color: #333;
}
.name:focus, .dob:focus {
  -webkit-box-shadow: 0 0 2px 1px #7ed32180;
  -moz-box-shadow: 0 0 2px 1px #7ed32180;
  box-shadow: 0 0 2px 1px #7ed32180;
  border: 1px solid #7ed321;
}

span {
  color: black;
}

label {
    color: black;
}
#a,#b,#c,#d,#e,#f,#g, i {
     color: black
}

i#a {
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 2px;
    bottom: 2px;
    width: 44px;
    left: 2px;
    display: flex;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    border-right: none;
    pointer-events: none;
    padding-top: 7px;
}
i#b {
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 2px;
  bottom: 2px;
  width: 44px;
  left: 2px;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;
  border-right: none;
  pointer-events: none;
  padding-top: 7px;
}
i#c {
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 2px;
  bottom: 2px;
  width: 44px;
  left: 2px;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;
  border-right: none;
  pointer-events: none;
  padding-top: 7px;
}
i#f {
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 2px;
  bottom: 2px;
  width: 44px;
  left: 2px;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;
  border-right: none;
  pointer-events: none;
  padding-top: 7px;
}
i#g {
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 2px;
  bottom: 2px;
  width: 44px;
  left: 2px;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;
  border-right: none;
  pointer-events: none;
  padding-top: 7px;
}
i#d {
    margin-right: 5px;
}
i#e {
    margin-right: 5px;
}
.dob {
  width: 30%;
  padding: 14px;
  text-align: center;
  background-color: #fcfcfc;
  transition: 0.3s;
  outline: none;
  border: 1px solid #c0bfbf;
  border-radius: 3px;
}

button {
  width: 100%;
  background: transparent;
  background-color: #7ed321;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.35s ease;
}
.radio {
  display: none;
}
.input-box label {
  width: 50%;
  padding: 13px;
  background: #fcfcfc;
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid  #c0bfbf;
}
